<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Sender</title>
    <link rel="stylesheet" href=" {% static 'css/main.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/misc.css' %} ">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" rel="stylesheet">    
</head>
<body>
    <main class="lg:h-screen lg:pt-0 lg:px-0">
    <div class="email-sender lg:h-screen lg:flex lg:justify-center lg:items-center">
        <div class="recipients_container text-sm lg:h-5/6 lg:shadow-xl lg:w-full lg:border-2">
            <ul class="lg:mx-2 lg:mt-2 lg:overflow-y-auto">
                {% for recipient in recipients %}
                <li class="lg:py-1.5">
                    <p class="cursor-default">
                        <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 24 24" width="18px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M10 17l5-5-5-5v10z"/></svg>
                        {{recipient.email}} 
                    </p>
                    <a href="{% url 'remove' recipient.id %}">
                        <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 24 24" width="18px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg>
                    </a>
                </li>
                {% endfor %}
            </ul>
            <div class="lg:flex lg:flex-col">
                <form action="" method="POST" class="recipients_form">
                    {% csrf_token %}
                    {{recipientForm}}
                    <input type="submit" name="submit-email-address" hidden>
                </form>
                {% for message in messages %}
                <small class="text-red-700 lg:ml-3.5"> {{message}} </small>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="email">
        <form action="" method="POST">
            {% csrf_token %}
            {{emailForm}}
            <button type="submit" name="send-email">
                Send message
                <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 24 24" width="18px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M4.01 6.03l7.51 3.22-7.52-1 .01-2.22m7.5 8.72L4 17.97v-2.22l7.51-1M2.01 3L2 10l15 2-15 2 .01 7L23 12 2.01 3z"/></svg>
            </button>
        </form>
    </div>
    </main>
    <script>
        document.getElementById('id_email').placeholder = 'Add email address'
    </script>
</body>
</html>